.navbar-color {
    background: #0082e6;
    background: -webkit-linear-gradient(left,#a0328c 30%,#7040a4 50%,#4359c7 65%,#0082e6 85%);
    background: linear-gradient(to right,#a0328c 30%,#7040a4 50%,#4359c7 65%,#0082e6 85%);
    will-change: transform;
    z-index:1;
    min-height: 50px;
}
.navbar-color .icon-bar {
    background-color: #fff;
}
.navbar-color, .navbar-color ul:not(.dropdown-menu) > li > a, .navbar-colorul:not(.dropdown-menu) > li > a:visited, .navbar-color .navbar-header a {
    color:#fff;
}
.navbar-color .navbar-header a {
    padding: 16.5px 15px;
    line-height: 17px;
    height: 50px;
}
.navbar-color .navbar-nav > li > a {
    line-height: 20px;
}
.navbar-color .nav > li.active, .navbar-color .nav > li:hover {
    background: rgba(255, 255, 255, 0.1);
}
.navbar-color .nav > li > a:hover, .navbar-color .nav > li > a:focus {
    background-color: unset;
}
.navbar-color .nav .open > a, .navbar-color .nav .open > a:hover, .navbar-color .nav .open > a:focus {
    background-color: #515151;
}

.footer-container {
    border-color: #e7e7e7;
    border-radius: 3px;
    background-color: #f8f8f8;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    padding-top:5px;
}
/* Bootstrap overwrite */
.alert-success {
    background-color: #00a65a;
    border-color: #dfebd5;
    color: #fff;
}
.alert-danger {
    background-color: #da2f1a;
    border-color: #dfebd5;
    color: #fff;
}
.btn-info {
    background-color: #0082e6;
}
